<div class="container">
  <form action="/formulario" method="post">
    <div class="mb-3 row">
      <label for="nombre" class="col-sm-2 col-form-label">Nombre</label>
      <div class="col-sm-10">
        <input type="text" class="form-control" id="nombre" name="nombre" />
      </div>
    </div>
    <div class="mb-3 row">
      <label for="apellido" class="col-sm-2 col-form-label">Apellido</label>
      <div class="col-sm-10">
        <input type="text" class="form-control" id="apellido" name="apellido" />
      </div>
    </div>
    <div class="mb-3 row">
      <label for="email" class="col-sm-2 col-form-label">Correo</label>
      <div class="col-sm-10">
        <input type="email" class="form-control" id="email" name="email" />
      </div>
    </div>
    <label for="exampleDataList" class="form-label">Estado de Revista</label>
    <input
      class="form-control"
      list="datalistOptions"
      id="revista"
      name="revista"
      placeholder="Estado de revista..."
    />
    <datalist id="datalistOptions">
      <option value="TITULAR"></option>
      <option value="SUPLENTE"></option>
      <option value="INTERINO"></option>
      <option value="TAREAS PASIVAS"></option>
      <option value="TEMPORAL"></option>
    </datalist>
    <button type="submit" class="btn btn-primary mb-3">Enviar</button>
  </form>
</div>
