<!-- Banner -->
<section id="banner" class="major">
  <div class="inner">
    <header class="major">
      <h1>Bienvenidos!</h1>
    </header>
    <div class="content">
      <p>
        Sitio web de <strong>ceroUno</strong> desarrolado con tecnología Nodejs,
        <br />y bases de datos SQLite3
      </p>
    </div>
  </div>
</section>
